* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f0f0f0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  filter: invert(1) hue-rotate(180deg);
}
#canvas {
  background: white;
  border: 3px solid #000000;
  cursor: crosshair;
  flex: 1;
}
#status {
  padding: clamp(5px, 2vh, 15px);
  background: #e0e0e0;
  min-height: 30px;
}
